@import "../../_globalColor";

.comm-outer {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
  margin-top: 4rem;
}

.comm-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  gap: 2rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2rem 1rem;
}

.comm-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.comm-text-div {
  max-width: 600px;
}

.comm-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.2;
  color: $textColor;
}

.comm-heading-dark {
  color: $textColorDark;
}

.comm-subtitle {
  color: $subTitle;
}

.comm-subtitle-dark {
  color: $subTitle;
}

.comm-text {
  color: $subTitle;
}

.comm-image-div > img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Media Query */
@media (max-width: 1380px) {
  .comm-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .comm-heading {
    font-size: 30px;
    text-align: center;
  }
  .comm-main-div {
    flex-direction: column;
  }
  .comm-text-div {
    margin: 20px;
  }
  .comm-text {
    font-size: 16px;
  }
  .comm-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
