@import "../../_globalColor";
@import "../../_variables";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-links {
  margin-top: 1rem !important;
  font-size: 0.9rem;

  a {
    color: $skillsColor;
    text-decoration: none;
    @include transition(color);
    margin: 0 0.25rem;

    &:hover {
      color: $buttonHover;
      text-decoration: underline;
    }
  }

  .dark-mode & a {
    color: $appLink;

    &:hover {
      color: lighten($appLink, 10%);
    }
  }
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
