@import "../../_globalColor";
@import "../../_variables";

.achievement-main-div {
  min-height: 400px;
  width: 100%;
}

.achievement-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
}
.subTitle {
  color: $subTitle;
}

.achievement-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
}

/* Media Query */
@include tablet {
  .achievement-heading {
    font-size: 40px;
  }
}

@include mobile {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }

  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .achievement-main-div {
    min-height: auto;
  }

  .achievement-cards-div {
    grid-template-columns: 1fr;
  }
}
